{% extends "django_messages/base.html" %} 
{% load i18n %} 
{% block content %} 
<h1>{% trans "Deleted Messages" %}</h1>
{% if messages.object_list %} 
<table class="messages">
    <thead>
        <tr><th>{% trans "Sender" %}</th><th>{% trans "Subject" %}</th><th>{% trans "Date" %}</th><th>{% trans "Action" %}</th></tr>
    </thead>
    <tbody>
{% for message in messages.object_list %} 
    <tr>
        <td>{{ message.sender }}</td>
        <td> 
        {{ message.subject }}
        </td>
        <td>{{ message.sent_at|date:_("DATETIME_FORMAT") }}</td>
        <td><a href="{% url messages_undelete message.id %}">{% trans "undelete" %}</a></td>
    </tr>
{% endfor %}
    </tbody>
</table>
<div class="pagination">
   {% if messages.has_previous %}
     <a href="?page={{ messages.previous_page_number }}" class="previous-page">previous</a>
   {% endif %}
   <span class="current-page">Page {{ messages.number }} of {{ messages.paginator.num_pages }}</span>
   {% if messages.has_next %}
     <a href="?page={{ messages.next_page_number }}" class="next-page">next</a>
   {% endif %}
</div>
{% else %}
<p>{% trans "No messages." %}</p>
{% endif %}   
<br />
<p>{% trans "Deleted Messages are removed from the trash at unregular intervals, don't rely on this feature for long-time storage." %}</p>
{% endblock %}